<br>

<%= form_tag("/matches", method: "post") do %>

  <div class = "row">
    <div class = "col-md-2">
      <%= label_tag(:player1, "Search for player one:") %>
    </div>
    <div class = "col-md-4"> 
      <%= text_field_tag(:email) %>
    </div>
  </div>
  <br>
  <div class = "row">
    <div class = "col-md-2">
      <%= label_tag(:player2, "Search for player two:") %>
    </div>
    <div class = "col-md-4"> 
      <%= text_field_tag(:player2, "Search for player 2") %>
    </div>
  </div>
  <br>
  <div class = "row">
    <div class = "col-md-2">
      <%= label_tag(:event, "Event Type:") %>
    </div>
    <div class = "col-md-4">
      <%= select_tag(:event, options_for_select([['select an option', 0],['challenge', 1],['tournament', 2],['team league',3],['solo league',4],['box league',5],['friendly',6]])) %>
    </div>
  </div>
  <br>
  <div class = "row">
    <div class = "col-md-2">
      <%= label_tag(:gametype, "Game Type:") %>
    </div>
    <div class = "col-md-4">
      <%= select_tag(:gametype, options_for_select([['select an option', 0],['Best to 5', 1],['Best to 3', 2],['Timed',3]])) %>
    </div>
  </div>
  <br>
  <div class = "row">
    <div class = "col-md-2">
      <%= label_tag(:scoring, "Scoring:") %>
    </div>
    <div class = "col-md-4">
      <%= select_tag(:scoring, options_for_select([['select an option', 0],['PAR 11', 1],['PAR 15', 2],['Timed',3]])) %>
    </div>
  </div>
  <br>
  <div class = "row">
    <div class = "col-md-2 col-md-offset-2">
      <%= submit_tag("Create Match", :class => "btn btn-default") %>
    </div>
  </div>
<% end %>
<br>
