<%= form_tag match_games_path(params[:id]) do %>

  <div class = "row">
    <div class = "col-md-2">
      <%= label_tag(:server, "Select Server:") %>
    </div>
    <div class = "col-md-4">
      <%= select_tag(:server, options_for_select([['select an option', 0],['players.firstname', 1],['Player 2', 2]])) %>
    </div>
  </div>
  <br>
  <div class = "row">
    <div class = "col-md-2">
      <%= label_tag(:side, "Scoring:") %>
    </div>
    <div class = "col-md-4">
      <%= select_tag(:side, options_for_select([['select an option', 0],['right', 1],['left', 2]])) %>
    </div>
  </div>
  <br>
  <div class = "row">
    <div class = "col-md-2 col-md-offset-2">
      <%= submit_tag("Start Game", :class => "btn btn-default") %> 
    </div>
  </div>
<% end %>